@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --green: #0fe40c;
  --black: #000000;
  --light-color: #ed1212;
  --bg-color: #000000;
  --border: 0.1rem solid rgba(0, 0, 0, 0.2);
  --box-shadow: 0.4rem 0.4rem 1rem #000000, -0.4rem -0.4rem 1rem #000000;
  --box-shadow-inset: 0.4rem 0.4rem 1rem #2b639b inset,
    -0.4rem -0.4rem 1rem #2442a4 inset;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}



html {
  font-size: 60.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: #070606;
  padding-left: 30rem;
}

.reet {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 120px;
  text-transform: uppercase;
  font-family: "Gambetta", serif;
  letter-spacing: -3px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  margin-bottom: 0.8rem;
  color: PaleGoldenRod;
  outline: none;
  text-align: center;
}

h1:hover {
  font-variation-settings: "wght" 582;
  letter-spacing: 1px;
}

body.active {
  background: rgb(0, 0, 0);
  /* border: 0.1rem solid rgba(248, 233, 15, 0.947); */
  box-shadow: 0.4rem 0.4rem 1rem #f3e8e8, -0.4rem -0.4rem 1rem #ede0e0;
  --box-shadow-inset: 0.4rem 0.4rem 1rem #feffff inset,
    -0.4rem -0.4rem 1rem #eff4ef inset;
}

section {
  min-height: 100vh;
  padding: 2rem;
}

.content {
  text-align: center;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3.5rem;
  border-radius: 0.5rem;
  font-size: 1.7rem;
  cursor: pointer;
  background: white;
  color: #f71313;
  --border: 0.1rem solid rgba(249, 6, 6, 0.947);
  --box-shadow: 0.4rem 0.4rem 1rem #f3e8e8, -0.4rem -0.4rem 1rem #ede0e0;
  text-align: center;

  margin: 0 auto;
}

.btn:hover {
  box-shadow: var(--box-shadow-inset);
  color: rgb(30, 223, 43);
}

.heading {
  text-align: center;
  font-size: 5rem;
  color: rgb(5, 253, 5);
  text-transform: uppercase;
  padding-bottom: 2rem;
}

.heading span {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #000001;
  width: 30rem;
  border-right: #ec0606;
  height: 100%;
  padding: 2rem;
  text-align: center;
  color: #f7e012;
  cursor: pointer;
}

.header .user img {
  margin: 1rem 0;
  border: 1rem solid white;
  border-radius: 50%;
  height: 18rem;
  width: 18rem;
  box-shadow: var(--box-shadow);
  cursor: pointer;
}

.header .user h3 {
  color: rgb(255, 254, 254);
  font-size: 2.9rem;
}

.header .user p {
  color: rgb(232, 68, 68);
  font-size: 2rem;
}

.header .navbar {
  padding-top: 1rem;
  color: #ede0e0;
}

.header .navbar a {
  color: #ede0e0;
  display: block;
  margin: 1.5rem 0;
  padding: 0.7rem;
  border-radius: 5rem;
  font-size: 2rem;
  box-shadow: #ffffff;
}

.header .navbar a:hover {
  /* box-shadow: var(--box-shadow-inset); */
  color: white;
  background: #f9fcfd;
  cursor: pointer;
  background: transparent;
  color: #3af701;
  text-shadow: 0.4rem 0.4rem 1rem #f3e8e8, -0.4rem -0.4rem 1rem #eb3838;
}

#menu-btn {
  position: fixed;
  top: 1.5rem;
  left: 2rem;
  z-index: 1000;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  border-radius: 50%;
  font-size: 2rem;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  text-align: center;
  color: rgb(249, 6, 6);
  background: rgb(254, 255, 251);
  display: none;
}

#menu-btn:hover {
  color: rgb(4, 242, 4);
  box-shadow: var(--box-shadow-inset);
}

#theme-toggler {
  position: fixed;
  top: 1.5rem;
  right: 2rem;
  z-index: 1000;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  border-radius: 50%;
  font-size: 2rem;
  cursor: pointer;
  box-shadow: rgb(255, 255, 255);
  text-align: center;
  color: #eff0f9;
  background: #fc0404f9;
}

#theme-toggler:hover {
  color: rgb(0, 0, 0);
  box-shadow: var(--box-shadow-inset);
}

.home {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home .content h3 {
  font-size: 7rem;
  text-align: center;
  color: rgb(255, 253, 253);
  line-height: 1.1;
  text-transform: uppercase;
}

.about-me-container {
  border: 12.3px solid rgb(11, 186, 11);
  padding: 19px;
  margin: 5px;
  padding: 5px;
  width: 1080px;
  height: 110px;
  overflow: scroll;
  text-align: justify;
  text-transform: uppercase;
  font-size: 16px;
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
  background-image: url("/image/Reet.png");
  background-size: cover;
  transform: scaleX(1.02);
  opacity: 0.2;
}

.about-me-container:hover {
  opacity: 1.0;
  }








.home .content p {
  font-size: 2rem;
  color: rgb(255, 255, 255);
  padding-bottom: 1rem;
}

.home .share {
  position: relative;
  top: 10rem;
  border-radius: 2.9rem;
  padding: 1rem;
  background-color: #000000;
  cursor: pointer;
}

.home .share a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  box-shadow: var(--box-shadow);
  margin: 2.9rem;
  font-size: 5rem;
  color: rgb(54, 95, 163);
  border-radius: 0.5rem;
  cursor: pointer;
}

.home .share a:hover {
  box-shadow: var(--box-shadow-inset);
  color:#3b5998
  ;
}

.about .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 2rem;
}

.about .row .box-container {
  flex: 1 1 40rem;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.about .row .box-container .box {
  background-color: #f8f8f7;
  flex: 1 1 18rem;
  text-align: center;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
}

.about .row .box-container .box h3 {
  font-size: 5rem;
  color: rgb(159, 233, 1);
  line-height: 1.1;
  cursor: pointer;
}

.about .row .box-container .box p {
  font-size: 1.7rem;
  color:#000000;
  padding: 0.5rem 0;
  cursor: pointer;
}

.about .row .content {
  flex: 1 1 40rem;
}

.about .row .content h3 {
  font-size: 3.5rem;
  color: rgb(250, 249, 249);
  line-height: 1.8;
}

.about .row .content h3 span {
  color: rgb(251, 57, 8);
}

.about .row .content p {
  font-size: 1rem;
  color: rgb(82, 141, 23);
  line-height: 2.8;
  padding: 1rem 0;
  text-align: left;
}

.about .row:nth-child(3) {
  padding-top: 2rem;
}

.about .row .progress {
  flex: 1 1 40rem;
}

.about .row .progress h3 {
  color: rgb(255, 255, 255);
  font-weight: normal;
  font-size: 2.1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about .row .progress .bar {
  border-radius: 5rem;
  height: 2rem;
  padding: 0.5rem;
  margin: 1rem 0;
}

.about .row .progress .bar span {
  display: block;
  height: 100%;
  background: #03f503;

  border-radius: 5.7rem;
}

.about .row .progress .bar-1-1 span {
  width: 80%;
}

.about .row .progress .bar-1-2 span {
  width: 75%;
}

.about .row .progress .bar-1-3 span {
  width: 70%;
}

.about .row .progress .bar-2-1 span {
  width: 85%;
}

.about .row .progress .bar-2-2 span {
  width: 60%;
}

.about .row .progress .bar-2-3 span {
  width: 75%;
}

.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 2rem;
  cursor: pointer;
}

.services .box-container .box {
  padding: 2.9rem;
  border-radius: 4rem;
  position: relative;
  z-index: 0;
  overflow: hidden;
  background-color: #000000;
  background-image: radial-gradient(black, black, rgb(46, 34, 34));
  border: 6px solid rgb(234, 242, 245);
}

.services .box-container .box i {
  font-size: 4rem;
  padding-bottom: 5rem;
  color: #10f804fc;
}

.services .box-container .box h3 {
  font-size: 2.5rem;
  padding-bottom: 1rem;
  color: rgb(244, 249, 243);
}

.services .box-container .box p {
  font-size: 1.1rem;
  line-height: 1.9rem;
  color: #24ae5d;
}

.services .box-container .box::before {
  content: "";
  position: absolute;
  z-index: -1;
  clip-path: circle(4rem at 17% 18%);
  place-items: center;
  transition: 0.5s linear;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #22921a;
  border: 6px solid #000000;
}

.services .box-container .box:hover::before {
  clip-path: circle(100%);
}

.services .box-container .box:hover > * {
  color: #000000;
}

.portfolio .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 2rem;
  cursor: pointer;
}

.portfolio .box-container .box {
  height: 25rem;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: var(--box-shadow);
  position: relative;
  border: 1rem solid transparent;
}

.portfolio .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.portfolio .box-container .box .content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #ffffff;
  display: grid;
  place-items: center;
  transform: scale(0);
}

.portfolio .box-container .box:hover .content {
  transform: scale(1);
}

.portfolio .box-container .box .content h3 {
  font-size: 2.5rem;
  color: whitesmoke;
  text-transform: uppercase;
  transform: translateY(-5rem);
  opacity: 0;
  transition-delay: 0.3s;
}

.portfolio .box-container .box:hover .content h3 {
  transform: translateY(0rem);
  opacity: 1;
}

.contact form {
  margin: 1rem auto;
  max-width: 70rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  padding: 2rem;
  text-align: center;
}

.contact form .box {
  padding: 1rem 1.5rem;
  width: 100%;
  background: whitesmoke;
  color: rgb(226, 23, 23);
  font-size: 1.6rem;
  text-transform: none;
  margin: 0.7rem 0;
  border-radius: 0.5rem;
}

.contact form textarea {
  height: 20rem;
  resize: none;
  color: #bf1818;
}

.contact form .box:focus {
  box-shadow: var(--box-shadow-inset);
}

.credits {
  font-size: 2.2rem;
  text-align: center;
  padding: 2.5rem 1rem;
  margin-top: 1rem;
  border-top: 20px;
  color: rgb(234, 242, 245);
}

.span {
  color: rgb(5, 243, 5);
}

h4 {
  font-size: 1.2rem;
}

/*------------------ media queries------------------------------  */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  body {
    padding-left: 0;
  }

  .header {
    left: -110%;
  }

  .header.active {
    left: 0%;
    transition: 0.4s linear;
  }

  #menu-btn {
    display: initial;
  }

  #menu-btn {
    background-image: url("https://example.com/icons/plus.png");
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .header {
    width: 100%;
    border-right: 0;
  }
}
